#token Bot dan Admin Id
TELEGRAM_BOT_TOKEN=ISI
ADMIN_USER_IDS=ISI

# API KEY PRAS-STORE
API_BASE_URL=https://pras-store.com/api/v1
ADMIN_API_KEY=ISI

# Pakasir Payment Gateway
PAKASIR_PROJECT=ISI
PAKASIR_API_KEY=ISI

#CUAN KALIAN MAU BERAPA DALAM RUPIAH
MARKUP_PRICE=100