#token Bot dan Admin Id
TELEGRAM_BOT_TOKEN=8037630579:AAH7e904Vx6VW7BmMkt3prJU1XDSXX3ARAg
ADMIN_USER_IDS=1695485584

# API KEY PRAS-STORE
API_BASE_URL=https://pras-store.com/api/v1
ADMIN_API_KEY=ps_ry27y6tW0gtTLyUFnKAWZpOsSEshHbtIq8pQ7cU1JdwPbVVJ

# Pakasir Payment Gateway
PAKASIR_PROJECT=mazhaa
PAKASIR_API_KEY=FITmIcOPEGoGVPMSLFuaDgEhBDqUZThV

#CUAN KALIAN MAU BERAPA DALAM RUPIAH
MARKUP_PRICE=7000
